{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% block head %}
<title>Home</title>
{% endblock %}
{% block body %}
    <div id="map_canvas" style="width:300px;height:400px;"></div>
<form method="POST" class="post-form">{% csrf_token %}
{{ form.as_p }}
<script>
        var map, marker;
        var lat, lon, newLat, newLon;
        var loc;
function initialize() {
  var myLatlng = new google.maps.LatLng(53.4590950000,-2.2168500000);
  var myOptions = {
    zoom: 12,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

  google.maps.event.addListener(map, 'click', function(event) {
    placeMarker(event.latLng);
    lat = event.latLng.lat();
    newLat = Math.floor(lat * 10000000000) / 10000000000;
    lon = event.latLng.lng();
    newLon = Math.floor(lon * 10000000000) / 10000000000;
    document.getElementById('id_ground_latitude').value = newLat;
    document.getElementById('id_ground_longitude').value = newLon;
  });
}

function placeMarker(location) {
  if (!marker)
  {
        marker = new google.maps.Marker({
        position: location,
        map: map
        });
  }
  else {marker.setPosition(location);}
  map.setCenter(location);
}
</script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8XU4PSHx0Isv2mLtE04TA1twJ0K0Ru_g&callback=initialize"></script>
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
 {% endblock %}