{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block head %}
<title>Home</title>
{% endblock %}
{% block body %}

<div class = "container">
    <h2>All Competitions:</h2>
    {% for comp in comps %}
        <a href="{% url 'comp_profile' pk=comp.comp_id %}">
        <h5>{{ comp }}</h5>
        </a>
        {% for teamprofile in comp.teamprofile_set.all %}
            <a href="{% url 'team_profile' pk=teamprofile.team_id %}">
                {{ teamprofile }}
            </a>
            <br>
        {% endfor %}
    <br>
    {% endfor %}
</div>
{% endblock %}