{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block head %}
<title>Home</title>
{% endblock %}
{% block body %}

<div class = "container"  align="center">
    <p >
        <p>Name: {{ comp.comp_name }}</p>
        <p>{{ comp.comp_type }}<p>
        <p>Team Size: {{ comp.comp_teamNumber }}</p>
        <p>Squad Size: {{ comp.comp_squadSize }}</p>
        <p>Start Date: {{ comp.comp_start_date }}</p>
        <p>End Date: {{ comp.comp_end_date }}</p>

        <p>Teams:<br>
        {% for team in comp.teamprofile_set.all %}
            <a href="{% url 'team_profile' pk=team.team_id %}">
                {{ team }}
            </a>
            <br>
        {% endfor %}
        {% if comp.has_matches %}
            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'view_comp_matches' pk=comp.comp_id %}" role="button">View Matches</a>
        {% endif %}
        </p>
        {% if user.userprofile.teams not in comp.teamprofile_set.all %}
            <form method='get' action='#'>
                <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Join This Competition" name="joinCompBtn"/>
            </form>
        {% endif %}
    </p>
</div>
{% endblock %}