{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block head %}
<title>Home</title>
{% endblock %}
{% block body %}
<div class = "container" align = 'center'>
    {% if user.userprofile.user_latitude is None %}
    <h2>All Teams:</h2>
    {% for team in teams %}
        <a href="{% url 'team_profile' pk=team.team_id %}">
            <h5>{{ team }}</h5>
        </a>
        <br>
        Members:
        {% for userprofile in team.userprofile_set.all %}
            <a href="{% url 'user_profile' pk=userprofile.user.pk %}">
            {{ userprofile }},
            </a>
            <br>
        {% endfor %}
        <br>
        ____________________________________________________________
    <br>
    {% endfor %}
    {% else %}
        {% for team, teamDist in nearby_list %}
        <a href="{% url 'team_profile' pk=team.team_id %}">
            <h5>{{ team }}</h5>
            Dist: {{teamDist}}
        </a>
        <br>
        Members:
        {% for userprofile in team.userprofile_set.all %}
            <a href="{% url 'user_profile' pk=userprofile.user.pk %}">
            {{ userprofile }},
            </a>
            <br>
        {% endfor %}
    <br>
    ____________________________________________________________
    {% endfor %}
    {% endif %}
</div>
{% endblock %}