{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block head %}
<title>Home</title>
{% endblock %}
{% block body %}

<div class = "container">
    <p>
        <p><img src = {{ user.userprofile.user_image }}></p>
        <p class="font-weight-bold"><h2>{{ user.first_name }} {{ user.last_name }}</h2></p>
        <p>Email: {{ user.email }}</p>
        <a class="btn btn-outline-success my-2 my-sm-0" href="/account/edit" role="button">Edit Profile</a>
        <p>Team:
            {% if user.userprofile.teams %}
            <a href="{% url 'team_profile' pk=user.userprofile.teams.team_id %}">
                {{ user.userprofile.teams }} </a>
            <button type="button" class="btn btn-secondary">Leave Team</button>
            <button type="button" class="btn btn-secondary">Think of leaving</button>
            {% else %}
            None
            <a class="btn btn-outline-success my-2 my-sm-0" href="/account/join_team" role="button">Join a Team</a>
            {% endif %}
    </p>
</div>
{% endblock %}