{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block head %}
<title>Home</title>
{% endblock %}
{% block body %}

<div class = "container" align = 'center'>
    <p>
        <p><img src = {{ team.team_logo }}></p>
        <p class="font-weight-bold"><h2>{{ team.team_name }}</h2></p>
        <p>Date Formed: {{ team.team_date_formed }}</p>
        <p>Members:
            {% for userprofile in team.userprofile_set.all %}
                <a href="{% url 'user_profile' pk=userprofile.user.pk %}">{{ userprofile }}</a>
            {% endfor %}
        </p>
        <p>Matches Played: 1</p>
        <p>
            W: 0
            <br>
            D: 0
            <br>
            L: 1
        </p>
        <p>Team Address: {{ team.team_address }}</p>
        <p>Team Description: {{ team.team_description }}</p>
        <button type="button" class="btn btn-secondary">Match History</button>
        {% if user.userprofile.teams is None %}
        <form method='get' action='#'>
        <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Join This Team" name="joinTeamBtn"/>
        </form>
        {% endif %}
        <p>Competitions:<br>
        {% for comp in team.comps.all %}
            <a href="{% url 'comp_profile' pk=comp.comp_id %}">
                {{ comp }}
            </a>
            <br>
        {% endfor %}
        </p>
    </p>
</div>
{% endblock %}