<html>

    <head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        {% block head %}
        <title></title>
        {% endblock %}
    </head>

    <body>
    <div class="container">
        {% block navbar %}
        <nav class="navbar navbar-expand-lg" style="background-color: #93f876;">
            <a class="navbar-brand" href="/">App Name</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/account/profile/">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/all_teams/">Show All Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/all_comps/">Show All Comps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/all_grounds/">Show All Grounds</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <a class="btn btn-outline-success my-2 my-sm-0" href="/account/logout" role="button">Logout</a>
                </form>
            </div>

            {% else %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <a class="btn btn-outline-success my-2 my-sm-0" href="/account/login" role="button">Login</a>
                    <a class="btn btn-outline-success my-2 my-sm-0" href="/account/register" role="button">Register</a>
                </form>
            </div>
            {% endif %}
        </nav>
        {% endblock %}
        {% block body %}
        <h1>Base</h1>
        {% endblock %}
    </div>
    </body>

</html>